 /* body {
  font-family: "Oswald", sans-serif;
  margin: 0;
  display: flex;
  place-items: center; 
  min-width: 320px;
   min-height: 100vh;
}  */

/* 
h1 {
  font-size: 2em;
  line-height: 1.1;
} */



/* Blog Details */
/* .container {
  color: #3a72d3;
}

.backBtn {
  cursor: pointer;
  color: #6b0f45;
  position: absolute;
  left: 6%;
}

.container h3 {
  text-decoration: underline;
}

.homeContainer {
  border: 2px double darkcyan;
  padding: 10px;
} */
